.status {
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    font-family: $font_roboto;

    .status-pill {
        display: flex;
        background: #ddd;
        border-radius: 20px;
        align-items: center;

        .text {
            padding: 5px 15px 5px 15px;
            box-sizing: border-box;
        }

        .pill {
            position: relative;
            perspective: 300px;
            background: #777;
            border-radius: 20px;

            .side-1, .side-2 {
                text-align: center;
                white-space: nowrap;
                min-width: 100px;
                will-change: transform;
                transition: transform 400ms ease-out;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                border-radius: 20px;
                color: #fff;
                padding: 5px;
            }

            .side-1 {
                background: $o_color;
            }

            .side-2 {
                background: $x_color;
            }

            .side-2 {
                position: absolute;
                top: 0px;
                left: 0px;
                transform: rotateX(180deg);
            }

            &.flip {
                .side-1 {
                    transform: rotateX(180deg);
                }

                .side-2 {
                    transform: rotateX(360deg);
                }
            }
        }
    }
}